{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
    <title>{% trans "Welcome" %}</title>
{% endblock head %}

{% block content %}

    {% block header %}

    {% endblock header %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container d-flex justify-content-center">
        <div class="text-center w-75">
            <h3>{% trans "Industrial Cleaning Service Proposal" %}</h3>
            <p>{% trans "Service Proposal Text" %}</p>
        </div>
    </div>
    

    <hr class="my-4">
    <div class="container" style="max-width: 600px; padding-bottom:15px;">
        <div class="text-center mb-4">
            <h2>{% trans "Contact Form" %}</h2>
        </div>
        <form action="{% url 'home:send-form' %}" method="POST" class="mt-3">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
        </form>
    </div>
{% endblock content %}
